.primary_btn {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: rgb(190, 24, 93);
  border: 1px solid rgb(190, 24, 93);
  color: #fff;
  white-space: nowrap;
  cursor: pointer;

  &:disabled {
    cursor: no-drop;
  }
}

.secondary_btn {
  outline: none;
  border: 1px solid rgb(190, 24, 93);
  border-radius: 5px;
  padding: 0 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(190, 24, 93);
  background-color: transparent;
  white-space: nowrap;
  cursor: pointer;

  &:disabled {
    cursor: no-drop;
  }
}
